```
[ ca ]
default_ca = CA_default

[ CA_default ]
# Absolute paths (santised for viewing purposes)
dir               = /projects/pki-tls-auditor/phase1_2TierCA/intermediateCA
certs             = /projects/pki-tls-auditor/phase1_2TierCA/certs/intermediateCA/cert
crl_dir           = /projects/pki-tls-auditor/phase1_2TierCA/intermediateCA/crl
new_certs_dir     = /projects/pki-tls-auditor/phase1_2TierCA/certs/intermediateCA/issued-certs
database          = /projects/pki-tls-auditor/phase1_2TierCA/intermediateCA/data/index.dat
serial            = /projects/pki-tls-auditor/phase1_2TierCA/intermediateCA/data/serial.dat
crlnumber         = /projects/pki-tls-auditor/phase1_2TierCA/intermediateCA/data/crl_number

certificate       = projects/pki-tls-auditor/phase1_2TierCA/certs/intermediateCA/cert/intermediateCA.cert
private_key       = sensitive--

crl               = /projects/pki-tls-auditor/phase1_2TierCA/intermediateCA/crl/intermediateCA.crl
crl_extensions    = crl_ext
default_crl_days  = 30

default_md        = sha256
# 5 years expiration- intermediate lives shorter than root
default_days      = 1825
preserve          = no
policy            = policy_strict

[ policy_strict ]
countryName             = match
stateOrProvinceName     = match
organizationName        = match
organizationalUnitName  = optional
commonName              = supplied
emailAddress            = optional

# Used when generating the intermediate CSR
[ req ]
default_bits        = 4096
distinguished_name  = req_distinguished_name
string_mask         = utf8only
default_md          = sha256
# Note: no x509_extension — extensions are stamped by the ROOT CA at signing time

[ req_distinguished_name ]
countryName                     = Country Name
stateOrProvinceName             = County Name
localityName                    = City Name
organizationName                = Organization Name
organizationalUnitName          = Organizational Unit Name
commonName                      = Full Name
emailAddress                    = Email Address

countryName_default             = GB
stateOrProvinceName_default     = England
localityName_default            = London
organizationName_default        = CyberPathway
organizationalUnitName_default  = EnterprisePKI
emailAddress_default            = PKI@projects.lab

# Used by intermediate CA when signing leaf certs
[ v3_leaf ]
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid:always,issuer
basicConstraints        = critical, CA:false
keyUsage                = critical, digitalSignature, keyEncipherment
extendedKeyUsage        = serverAuth, clientAuth
subjectAltName          = @alt_names

[ alt_names ]
# will populate when gen each leaf cert
DNS.1 = server.cyberpathway.lab
DNS.2 = server

[ crl_ext ]
authorityKeyIdentifier = keyid:always

```
